<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Apni Dukaan</div>
    <div class="list-group list-group-flush">
      <a href="/home" class="list-group-item list-group-item-action bg-light">Home</a>
      <a href="/category/electronics" class="list-group-item list-group-item-action bg-light">Electronics</a>
      <a href="/category/books" class="list-group-item list-group-item-action bg-light">Books</a>
      <a href="/category/games" class="list-group-item list-group-item-action bg-light">Games</a>
      <a href="/category/fashion" class="list-group-item list-group-item-action bg-light">Fashion</a>
      <a href="/category/others" class="list-group-item list-group-item-action bg-light">Others</a>

    </div>
  </div>